# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Database
db.sqlite3

# Django
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# React
node_modules/

# OS
.DS_Store
Thumbs.db